@media screen and (max-width:760px){
    header{
        flex-direction: column;
    }
    main{
        flex-direction: column;
    }
    h2{
        font-size: 38px;
        align-items: center;
    }
    form {
        margin: 0 auto;
    }
    input{
        align-items: center;
    }
    img{
        display: none;
    }
    ul{
        text-align: center;
    }
}